.shop-container{
    display: flex;
}

.product-container{
    width: 70%;
    margin-right: 5px;
    margin-left: 50px;
    border-right: 1px solid lightgray;
    
}
.product-container ul{
    list-style: none;
}